##
# /etc/nginx/sites-available/rstudio
# Nginx config for RStudio Server
# {{ ansible_managed }}

server {
{% for listen in rstudio_listen %}
  listen {{ listen }};
{% endfor %}

  server_name {{ rstudio_host }};

  location / {
    proxy_pass http://127.0.0.1:{{ rstudio_localport }};
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_read_timeout 2w;
  }
}
